body{
    background-color: aquamarine;
}
h1{
font-size: 100px;
font-style:oblique;
margin-left: 400px;
margin-top: 75px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #131010;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 94, 0);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #4CAF50;
  }
  li {
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  ul {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .container{
     margin-right: -200px;
      
  }
  .complex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    grid-auto-rows: 300px;
  }
  
    

